{{!-- views/layouts/main.hbs --}}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const socket = io();

      socket.on('connect', () => {
        console.log('Conectado al servidor');
        socket.emit('mensaje', 'Hola servidor');
      });

      socket.on('respuesta', (msg) => {
        console.log('Respuesta del servidor:', msg);
      });
    });
  </script>
</head>
<body>
  {{{body}}} <!-- Aquí se inyectará el contenido de home.hbs -->
</body>
</html>
