h1 {
    color: rgba(194, 235, 12, 0.856);
    text-align: center;
}

.contenedorProductos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedorProductos div {
    border: 1px solid rgb(27, 238, 8);
    padding: 25px;
    
}


/* Estilo para el contenido principal */
main {
    padding: 20px;
    width: 100%;
    max-width: 1200px; /* Ancho máximo */
}

/* Estilo para cada producto */
div.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
}

/* Título de cada producto */
div.product h2 {
    color: #32CD32;
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Estilo para los párrafos dentro del producto */
div.product p {
    margin: 10px 0;
    font-size: 1em;
}

/* Botón de agregar al carrito */
div.product button {
    background-color: #32CD32;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
}

div.product button:hover {
    background-color: #28a745;
}

/* Estilo para los enlaces de paginación */
a {
    color: #32CD32;
    text-decoration: none;
    font-size: 1em;
    margin: 5px;
}

a:hover {
    text-decoration: underline;
}

/* Estilo para la paginación */
.pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagination p {
    margin: 20px 0;
    font-size: 1.2em;
}